<h4>My Account</h4>
<form name="app.addEditFrm" ng-submit="app.addEditFrm.$valid && registerAddEdit();" novalidate autocomplete="off">
	<div class="clearfix">
		<div class="col-md-6">
			<div class="login-section">
				<div class="form-group">
					<label class="f-label">Name</label>
					<input type="text" class="form-control focus" placeholder="Enter the Name" ng-model="admin.name" name="name" required/>
					<div class="error-lable" ng-class="(app.addEditFrm.name.$touched || app.addEditFrm.$submitted) && app.addEditFrm.name.$invalid?'invalid':'valid'">Name is required.</div>
				</div>
				<div class="form-group">
					<label class="f-label">Email</label>
					<input type="email" class="form-control focus" placeholder="Enter the Email" ng-model="admin.email" name="email" required ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-disabled=true />
					<div class="error-lable" ng-class="(app.addEditFrm.email.$touched || app.addEditFrm.$submitted) && app.addEditFrm.email.$invalid?'invalid':'valid'">Email is required.</div>
				</div>
				<div class="form-group">
					<label class="f-label">Password</label>
					<input type="password" class="form-control focus" placeholder="Enter the Password" ng-model="admin.password" name="password" required/>
					<div class="error-lable" ng-class="(app.addEditFrm.password.$touched || app.addEditFrm.$submitted) && app.addEditFrm.password.$invalid?'invalid':'valid'">Password is required.</div>
				</div>
				<div class="form-group">
					<label class="f-label">Mobile Number</label>
					<input type="text" class="form-control focus" placeholder="Enter the Mobile number" ng-model="admin.mobileNumber" name="mobileNumber" required ng-pattern="/^[0-9]{10}$/" />
					<div class="error-lable" ng-class="(app.addEditFrm.mobileNumber.$touched || app.addEditFrm.$submitted) && app.addEditFrm.mobileNumber.$invalid?'invalid':'valid'">Mobile number is required.</div>
				</div>
				<div class="form-group">
					<label class="f-label">Location</label>
					<select class="form-control" ng-model="admin.location" name="location" required>
					<option value="">Select City</option>
					<option ng-repeat="city in cityList track by $index">{{city.display}}</option>
				</select>
					<div class="error-lable" ng-class="(app.addEditFrm.location.$touched || app.addEditFrm.$submitted) && app.addEditFrm.location.$invalid?'invalid':'valid'">City is required.</div>
				</div>
				<div class="btn-wrp">
					<button type="submit" class="btn btn-default btn-primary" ng-click="app.addEditFrm.submit()">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>
