<section class="filter create">
	<div class="row admin filter-wrp">
		<div class="col-sm-6 col-md-5">
			<div class="input-wrp">
				<div class="clearfix search-wrp">
					<input type="text" ng-model="filter.search" class="form-control search-txt" placeholder="Search" />
					<button type="button" class="btn btn-xs btn-primary search-btn" ng-click="applySearch(filter.search);">Search</button>
				</div>		
			</div>
		</div>
		<div class="col-sm-6 col-md-7 pull-right">
			<div class="clearfix">
				<div class="pull-right">
					<button type="button" class="btn btn-xs btn-secondary export">Export As XLS</button>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-xs btn-primary export">Apply</button>
				</div>
				<div class="pull-right">
					<label class="d-label">To</label>
					<md-datepicker name="endByDate" ng-model="filter.toDate" md-placeholder="" required></md-datepicker>
				</div>
				<div class="pull-right">
					<label class="d-label">From</label>
					<md-datepicker name="endByDate" ng-model="filter.fromDate" md-placeholder="" required></md-datepicker>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<p class="pull-left title">Total: {{comments.length}}</p>
		<button type="button" class="btn btn-xs btn-primary pull-right" ng-disabled="!cbSelected" ng-click="deleteComment(comments, true)">Delete</button>
		<button type="button" class="btn btn-xs btn-primary pull-right" ng-disabled="!cbSelected" ng-click="unAbuseComment(comments, true)">Not an Abuse</button>
	</div>
</section>
<table class="table table-hover table-responsive table-striped">
	<tr>
		<th><input type="checkbox" ng-model="selectAll" ng-click="selectAllCheck(comments, selectAll)" /></th>
		<th  ng-click="sortBy('comment')" class="sort-title">
			Comments
			<i ng-show="sort_propertyName == 'comment'" class="glyphicon glyphicon-triangle-{{sort_reverse? 'bottom':'top'}}"></i>
			<i ng-hide="sort_propertyName == 'comment'" class="glyphicon glyphicon-triangle-bottom"></i>
		</th>
		<th  ng-click="sortBy('abusedType')" class="sort-title">
			Type
			<i ng-show="sort_propertyName == 'abusedType'" class="glyphicon glyphicon-triangle-{{sort_reverse? 'bottom':'top'}}"></i>
			<i ng-hide="sort_propertyName == 'abusedType'" class="glyphicon glyphicon-triangle-bottom"></i>
		</th>
		<th  ng-click="sortBy('projectId')" class="sort-title">
			ProjectId
			<i ng-show="sort_propertyName == 'projectId'" class="glyphicon glyphicon-triangle-{{sort_reverse? 'bottom':'top'}}"></i>
			<i ng-hide="sort_propertyName == 'projectId'" class="glyphicon glyphicon-triangle-bottom"></i>
		</th>
		<th  ng-click="sortBy('createdBy')" class="sort-title">
			Created By
			<i ng-show="sort_propertyName == 'createdBy'" class="glyphicon glyphicon-triangle-{{sort_reverse? 'bottom':'top'}}"></i>
			<i ng-hide="sort_propertyName == 'createdBy'" class="glyphicon glyphicon-triangle-bottom"></i>
		</th>
		<th  ng-click="sortBy('abusedOn')" class="sort-title">
			Reported On
			<i ng-show="sort_propertyName == 'abusedOn'" class="glyphicon glyphicon-triangle-{{sort_reverse? 'bottom':'top'}}"></i>
			<i ng-hide="sort_propertyName == 'abusedOn'" class="glyphicon glyphicon-triangle-bottom"></i>
		</th>
		<th  ng-click="sortBy('reportedBy')" class="sort-title">
			Reported By
			<i ng-show="sort_propertyName == 'reportedBy'" class="glyphicon glyphicon-triangle-{{sort_reverse? 'bottom':'top'}}"></i>
			<i ng-hide="sort_propertyName == 'reportedBy'" class="glyphicon glyphicon-triangle-bottom"></i>
		</th>
		<th class="sort-title">
		</th>
	</tr>
	<tr ng-repeat="comment in comments | orderBy: sort_propertyName:sort_reverse | paginationFilters_startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
		<td><input type="checkbox" ng-model="comment.selected" ng-click="unSelect(comments, comment.selected)"/></td>
		<td>{{comment.comment}}</td>
		<td>
			<span ng-if="comment.abusedType=='SPAMCONTENT'">Unwanted commercial content or spam</span>
			<span ng-if="comment.abusedType=='SEXMATEIAL'">Pornography or sexually explicit material</span>
			<span ng-if="comment.abusedType=='VOILENCE'">Hate speech or graphic violence</span>
			<span ng-if="comment.abusedType=='HARASSMENT'">Harassment or bullying</span>			
		</td>
		<td><a href="#/project/{{comment.projectId}}" target="_blank" class="link">{{comment.projectId}}</a></td>
		<td><a href="#/dashboard/{{comment.userId}}" target="_blank" class="link">{{comment.createdBy}}</a></td>
		<td>{{comment.abusedOn|ddmmyyyy}}</td>
		<td><a href="#/dashboard/{{comment.abusedBy}}" target="_blank" class="link">{{comment.reportedBy}}</a></td>
		<td>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-xs btn-secondary" ng-click="unAbuseComment(comment);">Not an Abuse</button>
				<button type="button" class="btn btn-xs btn-secondary" ng-click="deleteComment(comment)">Delete</button>
			</div>
		</td>
	</tr>
</table>
<div class="center" ng-if="comments.length">
	<div class="pagination-wrapper" pagination-directive></div>
</div>
<div class="center" ng-if="!comments.length">No record found.</div>

<!--addEditModal project popup-->
<div class="modal fade extendProject" id="addEditModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">{{mode=='POST'?'Regsiter':'Edit'}} City</h4>
		</div>
		<div class="modal-body">
			
			<div class="login-wrp">
				<form name="app.addEditFrm" ng-submit="app.addEditFrm.$valid && registerAddEdit();" novalidate autocomplete="off">
					<div class="login-section">
						<div class="form-group">
							<label class="f-label">City</label>
							<input type="text" class="form-control focus" placeholder="Enter the City" ng-model="city.city" name="city" required/>
							<div class="error-lable" ng-class="(app.addEditFrm.city.$touched || app.addEditFrm.$submitted) && app.addEditFrm.city.$invalid?'invalid':'valid'">City is required.</div>
						</div>
						<div class="form-group">
							<label class="f-label">State</label>
							<input type="text" class="form-control" placeholder="Enter the State" ng-model="city.state" name="state" required/>
							<div class="error-lable" ng-class="(app.addEditFrm.state.$touched || app.addEditFrm.$submitted) && app.addEditFrm.state.$invalid?'invalid':'valid'">State is required.</div>
						</div>
						<div class="btn-wrp">
							<button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-default btn-primary" ng-click="app.addEditFrm.submit()">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	  </div>
	</div>
</div>
