<html>
<head>
<title>Backme Check Out Page</title>
</head>
<body style="font-family:arial;">
	<h3>Wait... Please do not refresh the page....</h3>
	<script type="text/javascript">
		location.href="http://supportmytalent.in/#/payment/<%= restdata.orderId%>";
	</script>
</body>
</html>