<div style="width:550px; padding:15px; font-family:arial;margin:auto;">
	<div style="text-align:center;width:100%;height:35px;">
		<img src="http://supportmytalent.in/assets/images/logo.png" alt="BACKME" title="BACKME" />
	</div>
	<div style="background:#f7f7f7; padding:25px 28px;margin-top:10px;">
		<h1 style="font-size:44px; color:#03887b; padding:0; margin:0">Be part of <br>Next Big Change</h1>
	</div>
	<div style="background:#01e8e0; padding:30px;margin-top:10px;">
		<p style="font-size:14px; color:#4a4a4a; padding:0; margin:0; line-height:24px;">
			Wonderful to see as part of BackMe Family. More than a million people across the globe are waiting for your creativity
		</p>
	</div>
	<div style="background:#f7f7f7; padding:0 40px;margin-top:10px;text-align:center;">
		<div style="padding-top:40px;">
			<h1 style="font-size:34px; color:#03887b; padding:0 0 10px 0; margin:0">Amazing Talent</h1>
			<p style="font-size:14px; color:#4a4a4a; padding:0; margin:0; line-height:24px;">
				Millions of talented users across the globe sharing work for every walk of life.
			</p>
			<a href="http://supportmytalent.in/#/home" style="display: inline-block;width: 120px;background: #01897b;color: #fff;text-decoration: none;line-height: 40px;margin-top: 15px;">Learn More</a>
		</div>
		<div style="padding-top:40px;">
			<h1 style="font-size:34px; color:#03887b; padding:0 0 10px 0; margin:0">Support A Talent</h1>
			<p style="font-size:14px; color:#4a4a4a; padding:0; margin:0; line-height:24px;">
				Be part of a change to this world by supporting a talent you choose and be part of wonderful journey.
			</p>
			<a href="http://supportmytalent.in/#/home" style="display: inline-block;width: 120px;background: #01897b;color: #fff;text-decoration: none;line-height: 40px;margin-top: 15px;">Learn More</a>
		</div>
		<div style="padding:40px 0;">
			<h1 style="font-size:34px; color:#03887b; padding:0 0 10px 0; margin:0">Share Your Talent</h1>
			<p style="font-size:14px; color:#4a4a4a; padding:0; margin:0; line-height:24px;">
				Show your hidden Talent to this world and raise fund for your creativity.
			</p>
			<a href="http://supportmytalent.in/#/home" style="display: inline-block;width: 120px;background: #01897b;color: #fff;text-decoration: none;line-height: 40px;margin-top: 15px;">Learn More</a>
		</div>
	</div>
	<div style="margin-top:10px;border-top:2px solid #ccc; padding:10px 0;">
		<table border="0" style="font-size:10px;width:100%; line-height:14px;color:#434343;">
			<tr>
				<td style="vertical-align:top;width: 70px;"><img src="http://supportmytalent.in/assets/images/logo.png" width="40" alt="BACKME" title="BACKME" style="margin-top:2px;"/></td>
				<td style="vertical-align:top;width:150px;">
					<a href="#" style="color:#434343; text-decoration:none;">HELP CENTNTER</a><br>
					<a href="#" style="color:#434343; text-decoration:none;">CONTACT US</a>
				</td>
				<td style="vertical-align:top;width:180px;">W102, TAJ ENCLAVE, <br>GEETA COLONY, <br>DELHI 110031, <br>INDIA</td>
				<td style="vertical-align:top;">ON THE WEB <br>SUPPORTMYTALENT.COM</td>
			</tr>
		</table>
	</div>
	<div style="padding:10px 0;text-align:center;">
		<a href="http://supportmytalent.in/#/home" style="display: inline-block;width:72px;margin-right:5px;"><img src="http://supportmytalent.in/assets/images/appstore.png" width="72" alt="App Store" title="App Store" /></a>
		<a href="http://supportmytalent.in/#/home" style="display: inline-block;width:72px;margin-right:5px;"><img src="http://supportmytalent.in/assets/images/googleplay.png" width="72" alt="Google Play Store" title="Google Play Store" /></a>
	</div>
</div>
