<!--Banner Section-->
<section class="banner" id="banner" ng-class="isSerchPage ? 'search-page':''">
	<div class="containers">
		<div id="bannerCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#bannerCarousel" data-slide-to="1"></li>
				<!--<li data-target="#bannerCarousel"  ng-repeat="promotion in homePromotion track by $index" data-slide-to="{{$index+2}}"></li>-->
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active ban_position">
					<div class="learning-banner" style="background-image: url(assets/images/banner.jpg);">
						<div class="carousel-wrapper container" >
							<h1>Welcome to MiQ.</h1>
							<h3>Online learning is not the next big thing, it is the now big thing.</h3>
							<div class="btn-wrp">
								<a href="" class="btn btn-lg btn-md btn-sm btn-xs btn-default learn-more">Learn More</a>
								<a href="" class="btn btn-lg btn-default learn-more" ng-click="startProject();">Get Started</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="how-it-works">
						<div class="container">
							<h1>How It Works</h1>
							<h3>We need to bring learning to people <br>instead of people to learning.</h3>
							<div class="btn-wrp">
								<a href="" class="btn btn-lg btn-md btn-sm btn-xs btn-default learn-more">Learn More</a>
							</div>
						</div>
					</div>
				</div>

				<!--<div class="item" ng-repeat="promotion in homePromotion track by $index">
					<div class="user-banner" style="background-image:url(uploads/{{promotion.coverImage}})">
						<div class="container">
							<div class="banner-user-picture">
								<a href="#dashboard/{{promotion.userId}}">
								<div class="user-wrp prfile">
									<div class="user-img">
										<div class="img" style="background-image: url(uploads/{{promotion.userPhoto}});"></div>
									</div>
								</div>
								<h4 class="db-title">{{promotion.name}}</h4>
								</a>
							</div>
							<div class="banner-proj-desc">
								<h3 class="three-lines">{{promotion.title}}</h3>
								<h3 class="three-lines">{{promotion.about}}</h3>
							</div>
							<div class="btn-wrp">
								<a href="#project/{{promotion.projectId}}" class="btn btn-lg btn-md btn-sm btn-xs btn-default learn-more">Learn More</a>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>

<!--Content Section-->
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 proj-wrp">
				<section class="projects pc-wrp" ng-if="isSerchPage">
					<div class="row btn-wrp first">
						<h3 class="col-md-12 col-sm-6 col-xs-6 p-title" ng-if="!isSeeAll">Search results for {{searchKeywordsList}}</h3>
						<h3 class="col-md-12 col-sm-6 col-xs-6 p-title" ng-if="isFavouritePage && isSeeAll">Favorites</h3>
						<h3 class="col-md-12 col-sm-6 col-xs-6 p-title" ng-if="isSeeAll">{{title[price]}}</h3>
					</div>
					<div class="row poster-wrp">
						<div class="col-md-3 col-sm-6" ng-repeat="course in projects | paginationFilters_startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
							<div class="poster">
								<a href="" class="add-to-fav" ng-if="loggedIn" ng-click="course.favCount>0?removeFromFavourite(course):addtoFavourite(course)" ng-class="course.favCount>0?'active':''">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>
								<a href="#/{{course.type=='COURSE'?'course':'tests'}}/{{course.code}}" class="poster-title">
									<div class="p-img">
										<div class="img" ng-if="course.coverPicture" style="background-image:url(/uploads/{{course.coverPicture}})"></div>
										<div class="img" ng-if="!course.coverPicture" style="background-image:url(assets/images/poster-bg.png)"></div>
									</div>
									<h5 class="poster-title">{{course.title}}</h5>
									<p class="poster-desc">{{course.description}}</p>
								</a>
								<div class="proj-statistics">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-4 ps-fund">
											<h5>{{course.viewsCount}}</h5>
											<p>Views</p>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4 ps-fund">
											<h5>{{course.likesCount}}</h5>
											<p>Likes</p>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4 ps-days">
											<h5>{{course.commentsCount}}</h5>
											<p>Comments</p>
										</div>
									</div>										
									<div class="row">
										<div class="col-md-7 ps-fund" ng-if="course.price=='PAID'">
											<h5 class="amount"><strike ng-if="course.actualFees!=course.fees">₹{{course.actualFees}}</strike> ₹{{course.fees}}</h5>
										</div>
										<div class="col-md-6 ps-fund" ng-if="course.price=='FREE'">
											<h5 class="amount">Free</h5>
										</div>
										<div class="col-md-5 ps-fund">
											<h5 class="amount days">180 Days</h5>
										</div>
									</div>
									<div class="btn-wrp" ng-if="course.price=='PAID'">
										<a href="" class="btn btn-xs btn-default btn-secondary" ng-click="addtoCart(course)">Add to Cart</a>
										<a href="" class="btn btn-xs btn-default btn-primary" ng-click="buyNow(course)">Buy Now</a>
									</div>
									<div class="btn-wrp" ng-if="course.price=='FREE'">
										<a href="" class="btn btn-xs btn-default btn-primary" ng-click="subscribeNow(course);">Subscribe</a>
									</div>
								</div>								
							</div>
						</div>
						<h5 ng-if="!projects.length" class="no-project-found">No Courses Found.</h5>
					</div>
					<div class="pagination-wrapper" pagination-directive></div>
				</section>
				
				<section class="projects" ng-if="!isSerchPage">
					<!--<h5 ng-if="!homeProjects.length" class="no-project-found">No Projects Found.</h5>-->
					<div class="pc-wrp" ng-repeat="(key, courses) in homeProjects track by $index">
						<div class="row btn-wrp first" ng-if="courses.length">
							<h3 class="col-md-6 col-sm-6 col-xs-6 p-title">{{title[key]}}</h3>
							<div class="col-md-6 col-sm-6 col-xs-6 p-title right">
								<a href="" class="btn btn-default btn-secondary" ng-if="courses.length>=4" ng-click="seeAll(key)">See All</a>
							</div>
						</div>
						<div class="row poster-wrp" ng-if="courses.length">
							<div class="col-md-3 col-sm-4" ng-repeat="course in courses track by $index">
								<div class="poster">
									<a href="" class="add-to-fav" ng-if="loggedIn" ng-click="course.favCount>0?removeFromFavourite(course):addtoFavourite(course)" ng-class="course.favCount>0?'active':''">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>
									<a href="#/{{course.type=='COURSE'?'course':'tests'}}/{{course.code}}" class="poster-title">
										<div class="p-img">
											<div class="img" ng-if="course.coverPicture" style="background-image:url(/uploads/{{course.coverPicture}})"></div>
											<div class="img" ng-if="!course.coverPicture" style="background-image:url(assets/images/poster-bg.png)"></div>
										</div>
										<h5 class="poster-title">{{course.title}}</h5>
										<p class="poster-desc">{{course.description}}</p>
									</a>
									<div class="proj-statistics">
										<div class="row">
											<div class="col-md-4 col-sm-4 col-xs-4 ps-fund">
												<h5>{{course.viewsCount}}</h5>
												<p>Views</p>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4 ps-fund">
												<h5>{{course.likesCount}}</h5>
												<p>Likes</p>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4 ps-days">
												<h5>{{course.commentsCount}}</h5>
												<p>Comments</p>
											</div>
										</div>										
										<div class="row">
											<div class="col-md-7 ps-fund" ng-if="course.price=='PAID'">
												<h5 class="amount"><strike ng-if="course.actualFees!=course.fees">₹{{course.actualFees}}</strike> ₹{{course.fees}}</h5>
											</div>
											<div class="col-md-6 ps-fund" ng-if="course.price=='FREE'">
												<h5 class="amount">Free</h5>
											</div>
											<div class="col-md-5 ps-fund">
												<h5 class="amount days">180 Days</h5>
											</div>
										</div>
										<div class="btn-wrp" ng-if="course.price=='PAID' && !course.subscribed">
											<a href="" class="btn btn-xs btn-default btn-secondary" ng-click="addtoCart(course)">Add to Cart</a>
											<a href="" class="btn btn-xs btn-default btn-primary" ng-click="buyNow(course)">Buy Now</a>
										</div>
										<div class="btn-wrp" ng-if="course.price=='FREE' && !course.subscribed">
											<a href="" class="btn btn-xs btn-default btn-primary" ng-click="subscribeNow(course);">Subscribe</a>
										</div>
										<div class="btn-wrp" ng-if="(course.price=='PAID' || course.price=='FREE') && course.subscribed">
											<button class="btn btn-xs btn-default btn-primary" disabled>ALREADY SUBCRIBED !!!</button>
										</div>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</section>				
			</div>
			
		</div>					
	</div>
</section>
<div ng-include="'templates/partials/subscribtion-success-popup.html'"></div>