<section class="content">
	<div class="create-proj-cont">
		<div class="create-proj-wrp">
			<h1 class="proj-title">Bring your inside out!</h1>
			<div class="start-proj-btn">
				<a class="btn btn-default btn-lg btn-subscribe" href="#/create/basicinfo/{{projectId}}" ng-if="!disableStartProject">Start a Campaign</a>
				<a class="btn btn-default btn-lg btn-subscribe disabled" href="" ng-if="disableStartProject">Start a Campaign</a>
			</div>
			<div class="start-proj-title">
				<h2>Create your campaign in <span>5 easy steps</span></h2>
			</div>
			<div class="row info-cont">
				<div class="col-md-6">
					<div class="info-wrp row">
						<div class="sno col-md-2 right">1</div>
						<div class="desc col-md-10">
							<h4>Basic Info</h4>
							<p>Title and basic campaign description.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-wrp row">
						<div class="sno col-md-2 right">2</div>
						<div class="desc col-md-10">
							<h4>Campaign details</h4>
							<p>Campaign Videos/Photos and fund required. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-wrp row">
						<div class="sno col-md-2 right">3</div>
						<div class="desc col-md-10">
							<h4>Rewards &amp; Services</h4>
							<p>Support and services reward details against funding. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-wrp row">
						<div class="sno col-md-2 right">4</div>
						<div class="desc col-md-10">
							<h4>Profile &amp; Account</h4>
							<p>Personal, team and Bank details. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-wrp row">
						<div class="sno col-md-2 right">5</div>
						<div class="desc col-md-10">
							<h4>Preview &amp; Submit</h4>
							<p>Actual representation of your campaign and submission. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="start-proj-btn">
				<a class="btn btn-default btn-lg btn-subscribe" href="#/create/basicinfo/{{projectId}}" ng-if="!disableStartProject">Start a Campaign</a>
				<a class="btn btn-default btn-lg btn-subscribe disabled" href="" ng-if="disableStartProject">Start a Campaign</a>
			</div>
			
		</div>
	</div>
</section>