<!--Footer Section-->
<section class="footer">
	<div class="row footer-paymet">
		<div class="col-md-4 pay-method sec-payments">
			<img src="assets/images/lock.png" class="active" width="55">
			<img src="assets/images/lock-hover.png" class="hover" width="55">
			<h5>100% SECURE PAYMENTS</h5>
			<p>All major credit &amp; debit <br/>cards accepted</p>
		</div>
		<div class="col-md-4 pay-method trustpay">
			<img src="assets/images/trust-pay.png" class="active" width="55">
			<img src="assets/images/trust-pay-hover.png" class="hover" width="55">
			<h5>TRUSTPAY</h5>
			<p>100% Payment Protection.</p>
		</div>
		<div class="col-md-4 pay-method help-center">
			<img src="assets/images/call-center.png" class="active" width="55">
			<img src="assets/images/call-center-hover.png" class="hover" width="55">
			<h5>HELP CENTER</h5>
			<p>Got a question? Look no further. <br/>Browse our FAQs or submit your query here.</p>
		</div>
	</div>
	<div class="container">
		<div class="row footer-links">
			<div class="col-md-3 f-links privacy">
				<h5>Privacy Policy</h5>
				<ul class="footer-nav">
					<li><a href="#/privacy-policy">Privacy Policy</a></li>
					<li><a href="#/terms-of-sale">Terms of Sale</a></li>
					<li><a href="#/terms-of-use">Terms of Use</a></li>
					<li><a href="#/report-abuse">Report Abuse &amp; Takedown Policy</a></li>
					<li><a href="#/csr-policy">CSR Policy</a></li>
				</ul>
			</div>
			<div class="col-md-2 f-links company">
				<h5>Company</h5>
				<ul class="footer-nav">
					<li><a href="#/about">About Us</a></li>
					<li><a href="#/core-values">Core Values</a></li>
					<li><a href="#/careers">Careers</a></li>
					<li><a href="#/blog">Blog</a></li>
					<li><a href="#/engineering">Engineering</a></li>
					<li><a href="#/sitemap">Sitemap</a></li>
				</ul>
			</div>
			<div class="col-md-2 f-links powerd">
				<h5>Powered by</h5>
				<ul class="footer-nav">
					<li><a href="#/infortainment-media-us">Infortainment Media Us</a></li>
					<li><a href="#/tech-limited">Tech Limited</a></li>
					<li><a href="#/india-inc">India Inc.</a></li>
				</ul>
			</div>
			<div class="col-md-2 f-links help">
				<h5>Need Help?</h5>
				<ul class="footer-nav">
					<li><a href="#/faq">FAQ</a></li>
					<li><a href="#/contact-us">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 f-links subscribe">
				<h5>Subscribe</h5>
				<div class="btn-group group-subscribe">
					<input type="email" class="btn btn-default txt-subscribe" placeholder="Your email address">
					<button class="btn btn-default btn-alternate">SUBSCRIBE</button>
				</div>
				<p>Register now to get updates from us. <br>Your email will be safe with us.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row payment-coneect">
			<div class="col-md-6 cards">
				<h5>Payment</h5>
				<ul class="cards-list clearfix">
					<li><img src="assets/images/payment-options.png" width="" /></li>
					<!--<li><img src="assets/images/master-card.svg" width="50" /></li>
					<li><img src="assets/images/visa.svg" width="50" /></li>
					<li><img src="assets/images/master-card.svg" width="50" /></li>
					<li><img src="assets/images/master-card.svg" width="50" /></li>-->
				</ul>
			</div>
			<div class="col-md-6 social">
				<h5>Connect</h5>
				<ul class="social-list clearfix">
					<li><img src="assets/images/facebook.svg" height="30" /></li>
					<li><img src="assets/images/twitter.svg" height="30" /></li>
					<li><img src="assets/images/google-plus.svg" height="30" /></li>
					<li><img src="assets/images/youtube.svg" height="30" /></li>
					<li><img src="assets/images/path.svg" height="30" /></li>
				</ul>
			</div>
		</div>
	</div>
</section>
