<div class="proj-steps">
	<div class="steps-toast">Campaign details upated successfully !!</div>
	<div class="steps-bar"></div>
	<ul class="steps clearfix">
		<li ng-class="step==1?'active':1<=project.stepsCompleted?'completed':''">
			<a ng-if="1<=project.stepsCompleted" ng-href="{{edit?'#edit/basicinfo/':'#create/basicinfo/'}}{{projectId}}" class="step">
				<span>1</span>
				<span class="tickicon"></span>
			</a>
			<a ng-if="1>project.stepsCompleted" href="" class="step">
				<span>1</span>
				<span class="tickicon"></span>
			</a>
			<p>Basic Info</p>
		</li>
		<li ng-class="step==2?'active':2<=project.stepsCompleted?'completed':''">
			<a ng-if="2<=(project.stepsCompleted+1)" ng-href="{{edit?'#edit/projectdetails/':'#create/projectdetails/'}}{{projectId}}" class="step">
				<span>2</span>
				<span class="tickicon"></span>
			</a>
			<a ng-if="2>(project.stepsCompleted+1)" href="" class="step">
				<span>2</span>
				<span class="tickicon"></span>
			</a>
			<p>Campaign Details</p>
		</li>
		<li ng-class="step==3?'active':3<=project.stepsCompleted?'completed':''">
			<a ng-if="3<=(project.stepsCompleted+1)" ng-href="{{edit?'#edit/rewards/':'#create/rewards/'}}{{projectId}}" class="step">
				<span>3</span>
				<span class="tickicon"></span>
			</a>
			<a ng-if="3>(project.stepsCompleted+1)" href="" class="step">
				<span>3</span>
				<span class="tickicon"></span>
			</a>
			<p>Rewards &amp; Services</p>
		</li>
		<li ng-class="step==4?'active':4<=project.stepsCompleted?'completed':''">
			<a ng-if="4<=(project.stepsCompleted+1)" ng-href="{{edit?'#edit/profile/':'#create/profile/'}}{{projectId}}" class="step">
				<span>4</span>
				<span class="tickicon"></span>
			</a>
			<a ng-if="4>(project.stepsCompleted+1)" href="" class="step">
				<span>4</span>
				<span class="tickicon"></span>
			</a>
			<p>Profile &amp; Account</p>
		</li>
		<li ng-class="step==5?'active':5<=project.stepsCompleted?'completed':''">
			<a ng-if="5<=(project.stepsCompleted+1)" ng-href="{{edit?'#edit/preview/':'#create/preview/'}}{{projectId}}" class="step">
				<span>5</span>
				<span class="tickicon"></span>
			</a>
			<a ng-if="5>(project.stepsCompleted+1)" href="" class="step">
				<span>5</span>
				<span class="tickicon"></span>
			</a>
			<p>Preview &amp; Submit</p>
		</li>
	</ul>
	<div class="septs-title">
		<h2>{{stepsTitle}}</h2>
		<p ng-if="step!=5 && step!=3 && step!=4">[ All fields are mandatory ]</p>
		<p ng-if="step==5" class="run-campaign">[ You must click on Submit Button below to Run the campaign. ]</p>
	</div>
</div>